/*通用样式*/

* { -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul,li { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #666; }
body { margin: 0 auto;/* min-width: 320px; max-width: 640px;*/ height: 100%; font-size: 1rem; font-family: PingFang-SC-Regular, -apple-system,Helvetica,sans-serif; line-height: 1.5; color: #666; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
h1,h2,h3 {font-weight: normal;}

.container {
	padding: 1rem;
	margin: 0 auto;
}

.content {
	font-size: 1.25rem;
	line-height: 1.5rem;
	color:#000;
}
.content-wrap {
	margin: 1rem auto;
}

.fl {
	float:left;
}
.fr {
	float:right;
}
.clearfix:after {
   content:""; 
   display: block; 
   clear:both; 
}
.bg-edf {
	background: #EDF1FC;
}
.bg-red {
	background: #FB3648;
	color:#fff;
}
.bg-fff {
	background: #fff;
}
.cff0 {
	color: #FF0017;
}
img {
	width:100%;
	height:100%;
}
.footer-btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	height:4.166666rem;
}
.footer-btn .dangzhibu a:first-child {
	height:4.125rem;
	border-top: 1px solid #D8DBE5;
}

.footer-btn .dangzhibu a {
	display: block;
	width:50%;
	float: left;
	font-size: 1.083333rem;
	line-height: 4.166666rem;
	text-align: center;
	position: relative;
}
.footer-btn .dangzhibu a img {
	width:1.75rem;
	height:1.666666rem;
	position: absolute;
	top:1.25rem;
	left:4.583333rem;
}
.footer-btn .dangzhibu a span {
	margin-left: 2rem;
}
.footer-btn .huibao-btn {
	display: block;
	font-size: 1.166666rem;
	line-height: 4.166666rem;
	color:#fff;
	text-align: center;
}

.zhufu-btn {
	width:9.333333rem;
	height:2.5rem;
	line-height: 2.5rem;
	background: #FF0017;
	border-radius: 1.25rem;
	color:#fff;
	text-align: center;
	margin:0 auto;

}
.zhufu-btn img {
	width:1.291666rem;
	height:1.291666rem;
	vertical-align: middle;
	margin-right: .5rem;
}

/*顶部轮播图1*/
.top-slider {
	width: 100%;
	height: 13.333333rem;
	overflow: hidden;
	position: relative;
}
.top-slider-imgbox {
	
	height: 13.333333rem;
	position: relative;
	overflow: hidden;
}
.top-slider-imgbox li {
	width: 31.25rem;
	height:13.333333rem;
	float:left;
	position: relative;
}
.top-slider-imgbox li img{
	width: 100%;
	height: 100%;
}
.top-slider-num {
	display: block;
	width: 3rem;
	height: 1rem;
	padding: .3rem;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0.625rem;
	left:1rem;
	z-index: 10;
	text-align: center;
	font-size: 0.833333rem;
	line-height: 1rem;
	color:#fff;
	border-radius: 1rem;

} 
.top-slider-num span em{
	margin: 0 3px;
}

.top-slider-item-text {
	width: 100%;
	display: block;
	height:2.5rem;
	line-height: 2.5rem;
	font-size: 1.166666rem;
	/*padding: 0 2rem;*/
	text-indent: 2rem;
	color: #fff;
	position: absolute;
	left:0;
	bottom:0;
	background: rgba(0,0,0,.3);
	z-index: 10;
}
.top-slider-item-text span {
	margin: 0 1rem;	
}

/*通知公告列表*/
.news-list {
	margin-left: 1rem;
}
.news-list-item {
	height:5rem;
	padding: 1rem 0;
	border-bottom:1px solid #D8DBE6;
}
.news-list-item .news-img {
	width:6.666666rem;
	height:5rem;
}
.list-item-titlea,
.list-item-titleb {
	height:5rem;
	position: relative;
}

.list-item-titlea {
	width:18rem;
	margin-left: 1rem;
}
.list-item-titleb {
	width:26rem;
}
.list-item-titlea h3,
.list-item-titleb h3{
	font-size: 1.166666rem;
	color:#333;
	line-height: 1.5rem;
}
.list-item-titlea p,
.list-item-titleb p{
	position: absolute;
	bottom: 0;
}
.readed {
	width:2.083333rem;
	text-align: center;
	font-size: 0.916666rem;
	color:#FF0017;
	margin-right: 1rem;
}

.footer-tabbar {
	width:100%;
	height:3.083333rem;
	padding: 0.5rem 0;
	background: #fff;
	box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
	position:fixed;
	bottom: 0;
}
.footer-tabbar a{
	display: block;
	width:33.33%;
	float: left;
	text-align: center;
	font-size: 0.833333rem;
	color:#999;
}
.footer-tabbar a.active {
	color:#1A1A1A;
}
.footer-tabbar img{
	width:1.583333rem;
	height:1.5rem;
}
.footer-tabbar a span {
	display: block;
}

.section-title {
	height:3.333333rem;
	line-height: 3.333333rem;
	background: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	color: #000;
	padding-left: 1rem;
	border-bottom: 1px solid #D8DBE6;
}
.section-wrap {
	height:10.5rem;
	background: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
}
.secttion-content {
	height:8.166666rem;
	line-height: 2rem;
	font-size: 1.083333rem;
	color: #666;
}
.section-bottom {
	height:3.333333rem;
	line-height: 3.333333rem;
	/*background: #ccc;*/
}

.section-bottom .address img {
	width:0.916666rem;
	height:1.333333rem;
	display: inline-block;
	float: left;
	margin-top: 1rem;
	margin-right: .5rem;
}
.section-bottom .address span{
	display: inline-block;
	height:3.333333rem;
	line-height: 3.333333rem;
}
.section-bottom .tel {
	display: inline-block;
}
.section-bottom .tel img {
	width:1.25rem;
	height:1.25rem;
	margin-top: 1rem;
}
/*-----------
 * 首页index.html
 * */
.index-slider {
	width:100%;
	height: 15.416666rem;
	background: red;	
}
.index-home-icon {
	min-height: 4rem;
	padding: 1.125rem 1rem 0.5rem 1rem;
	overflow: hidden;
	background: #fff;
}
.index-home-icon a {
	display: block;
	width:4.166666rem;
	height:4.125rem;
	float:left;
	margin-right: 2rem;
	margin-bottom: .5rem;
	text-align: center;
	font-size: 0.916666rem;
	color:#1A1A1A;
}

.index-home-icon a:nth-child(5n){
	margin-right: 0;
}
.index-home-icon a img {
	width:2.833333rem;
	height:2.166666rem;
}
.index-home-icon span {
	display: block;
	text-align: center;	
	padding-top: .5rem;
}


.index-notice {
	height:3.333333rem;
	padding: 0 1rem;
	line-height:3.333333rem;
	background: #fff;
	margin: 0.666666rem auto;
	position: relative;
	overflow: hidden;
}
.index-notice h2 {
	display: inline-block;
	color: #ED1D27;
	float:left;
	font-size: 1rem;
	margin-right: 1rem;
}
.index-notice .tongzhi-list {
	width:20rem;
	/*height:3.333333rem;
	overflow: hidden;*/
	float:left;
	position: absolute;
	left:6rem;
	/*z-index: 10;*/
	transition: all 1s;
}

.index-notice .tongzhi-list li a{
	display: block;
	width:20rem;
	line-height:3.333333rem;
	overflow: hidden;    
	text-overflow:ellipsis;    
	white-space: nowrap;
}

.more {
	display: inline-block;
	width:4rem;
	height:3.333333rem;
	line-height: 3.333333rem;
	font-size: 1rem;
	color:#999;
	text-align: right;
	float: right;
}
.more em {
	display: inline-block;
	width:.5rem;
	height:1rem;
	background:url(../images/common/icon_more.png) no-repeat;
	background-size:100%;
	vertical-align: middle;
	margin-right: .5rem;
}




.index-news-list {
	margin-bottom: 5rem;
}
.index-news-item {
	width:26.75rem;
	height:10.25rem;
	background: #fff;
	padding: 0 1.25rem;
	border-radius: 0.75rem;
	margin: 0.666666rem auto;
}
.index-newsitem-header {
	height:2.458333rem;
	line-height: 2.458333rem;
	border-bottom: 1px solid #D8DBE6;
}
.index-newsitem-header h2 {
	display: inline-block;
	float:left;
	font-size: 1rem;
	line-height: 1rem;
	color:#333;
	margin-top:0.791666rem;
	padding-left: 0.625rem;
	border-left:0.25rem solid #FB3648;
}
.index-newsitem-header .more {
	height:2.458333rem;
	line-height: 2.458333rem;
}
.index-newsitem-main{
	height:5rem;
	padding: 1.5rem 0;
}
.index-newsitem-main .text-wrap {
	width:17rem;
	height:5rem;
	position: relative;
}
.index-newsitem-main .text-wrap h3 {
	font-size: 1.25rem;
	color: #000;
}
.index-newsitem-main .text-wrap p {
	position: absolute;
	bottom:0;
	font-size: 0.916666rem;
	color:#999;
}
.index-newsitem-main .img-wrap {
	width:8.333333rem;
	height:5rem;
}

/*-----------
 * 联建共享 ljgongxiang.html
 * */
.lianjian-item {
/*	height:34.583333rem;*/
	background: #fff;
	box-shadow:5px 0px 6px rgba(204,207,217,0.3);
	margin-bottom: 1rem;
}
.lianjian-item-top {
	/*height:19.041666rem;
	overflow: hidden;*/
	width:27.25rem;
	margin: 0 auto;
	padding: 1rem 0;
	border-bottom: 1px solid #D8DBE6;
}
.lianjian-item-top h2 {
	font-size: 1.166666rem;
	color: #000;
	line-height: 2rem;
}
.lianjian-item-top p {
	font-size: 1rem;
	color: #999;
}
.lianjian-item-top p span {
	color:#000;
}
.lianjian-item-top img {
	width:27.25rem;
	height:12.5rem;
	margin-top: 1.041666rem;
}

.lianjian-item-list .news-list-item {
	margin-right: 1rem;
	height:4.375rem;
	padding: 0.666666rem 0;
}
.lianjian-item-list .news-list-item .list-item-titlea{
	height:4.5rem;
}
.lianjian-item-list .news-list-item .news-img {
	width:5.833333rem;
	height:4.375rem;
}
.lianjian-item-bottom {
	height:3.125rem;
	
}
.lianjian-item-bottom a {
	display: block;
	line-height: 3.125rem;
	text-align: center;
}
.lianjian-item-bottom img {
	width:0.916666rem;
	height:0.916666rem;
	margin-top: 1.041666rem;
}








/*-----------
 * 个人中心 personal.html
 * */
.top-bg {
	width:100%;
	height:12.5rem;
}
.personal-info {
	width:28.75rem;
	height:10.833333rem;
	border-radius: 0.75rem;
	background: #fff;
	box-shadow:0px 0px 10px rgba(0,0,0,0.1);
	position: absolute;
	top:6.333333rem;
	left:1.25rem
}
.personal-info .avatar {
	width:5.833333rem;
	height:5.833333rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top:-1.708333rem;
	left:1.708333rem;
}
.personal-msg {
	width: 12.5rem;
	padding-top: 0.5rem;
	position: absolute;
	left:10rem;
}
.personal-msg .name {
	font-size: 1.333333rem;
	line-height: 2rem;
}
.personal-msg .join-time {
	color:#EC202A;
	font-size: 1.083333rem;
	line-height: 2rem;
}
.personal-record {
	width:100%;
	height:4.666666rem;
	position: absolute;
	bottom: 0;
}
.personal-record .record-list {
	width:33.3%;
	float: left;
}
.personal-record .record-list span {
	display: block;
	text-align: center;
	font-size: 1.083333rem;
	line-height: 1.5rem;
}
.personal-record .record-list span:last-child {
	font-size: 1.166666rem;
}
/*入党申请详情页 dangdetails*/
.top-dangimg {
	width:100%;
	height:5rem;
}
.top-dangimg img {
	width:100%;
	height:100%;
}


/*
 * 思想汇报 sixianghuibao.html sixianghuibaolist.html
 * */
.sixiang-topbar {
	width:100%;
	height: 3.333333rem;
	border-bottom: 1px solid #D8DBE6;
	background: #fff;
}
.tabbar-box {
	display: none;
}
.sixiang-topbar a {
	display: inline-block;	
	text-align: center;
	width:50%;
	float:left;
	line-height: 3.333333rem;
	font-size: 1.25rem;
	
}
.sixiang-topbar a.active {
	color:#FF0017;
	position: relative;
}
.sixiang-topbar a.active:after {
	content: '';
	width:1.166666rem;
	height:0.25rem;
	border-radius: 0.125rem;
	background: #FF0017;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -0.583333rem;
	
}
.sixiang-huibao {
	padding-left: 1rem;
	font-size:1.166666rem;
	background: #fff;
}
.sixiang-huibao em {
	display: inline-block;
	color:#FF0017;
	height:5rem;
	line-height: 5rem;
}
.huibao-title {
	height:5rem;
	line-height: 5rem;
	border-bottom: 1px solid #D8DBE6;
}
.huibao-title input {
	width:21rem;
	height:3rem;
	padding: 1rem;
	border:none;
	text-align: right;
}
.huibao-content {
	
}
.huibao-content textarea{
	width:27rem;
	min-height:20rem;
	padding: 1rem;
	line-height: 1.5rem;
	border: 1px solid #D8DBE6;
}



.submit-btn {
	width: 100%;
	height:3.75rem;
	
}
.submit-btn a{
	display: block;
	width: 17.5rem;
	height:3.75rem;
	margin: 3.166666rem auto;
	border-radius: 1.875rem;
	font-size: 1.25rem;
	line-height: 3.75rem;
	text-align: center;
}


.sixiang-list {
	margin-left: 1rem;
}
.sixiang-list li a{
	display: block;
	width:100%;
	height:5.5rem;
	padding: 0.75rem 0;
	border-bottom: 1px solid #D8DBE6;
}
.sixiang-list li .avatar {
	width:5.5rem;
	height:5.5rem;
	border-radius: 50%;
	margin-right: 1.5rem;
}
.sixiang-list li .avatar img {
	width:5.5rem;
	height:5.5rem;
	border-radius: 50%;
}

.sixiang-list li .list-info {
	height:5.5rem;
	position: relative;
}
.sixiang-list li .list-info h3 {
	font-size: 1.166666rem;
	color:#333;
	
}
.sixiang-list li .list-info h4 {
	font-size: 1.083333rem;
	color:#333;
}
.sixiang-list li .list-info p {
	position: absolute;
	bottom: 0;
	font-size: 0.916666rem;
	color:#999;
}

/*
 * 党员风采 dangyuanfengcai.html
 * */
.fengcai-list {
	
}
.fengcai-list-item {
	width:14.125rem;
	height:15rem;
	background: #fff;
	float:left;
	border-radius: 0.333333rem;
	box-shadow:5px 0px 6px rgba(204,207,217,0.3);
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.fengcai-list-item:nth-child(2n){
	margin-right: 0;
}
.fengcai-list-item .img-box {
	width:14.125rem;
	height:10rem;
}
.fengcai-list-item h2,
.fengcai-list-item h3 {
	padding: 0 .5rem;
	line-height: 2rem;
	overflow: hidden;
  	text-overflow:ellipsis;
  	white-space:nowrap;
}
.fengcai-list-item h2 {
	font-size: 1rem;
	margin-top: .5rem;
}
.fengcai-list-item p {
	font-size: 0.916666rem;
	color:#999;
}




/*
 * 全部应用 appall.html
 * */
.app-page {
	/*width:100%;
	height:100%;*/
	background: #EDF1FC;
}
.app-container {
	padding: 0.416666rem;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 0.666666rem;
}
.app-title {
	height:4.166666rem;
	line-height: 4.166666rem;
}
.app-title h3 {
	display: inline-block;
	font-size: 1.25rem;
	line-height: 4.166666rem;
	float: left;
}
.app-title a {
	color: #108EE9;
	font-size: 1.083333rem;
	line-height: 4.166666rem;
	float:right;
}
.app-list {
	width:100%;
	
}
.app-list .app-item {
	width:6rem;
	height:3.316666rem;
	padding: .8rem .5rem;
	background: #EDF1FC;
	position: relative;
	float:left;
	text-align: center;
	margin-right: 0.791666rem;
	margin-bottom: 0.833333rem;
}
.app-list .app-item a {
	display: block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.app-list .app-item:nth-child(4n){
	margin-right: 0;
}
.app-list .app-item .icon-img {
	width:2.833333rem;
	height:2.166666rem;
	margin: 0 auto;
}
.app-list .app-item .icon {
	width:2.833333rem;
	height:2.166666rem;
}
.app-list .app-item p {
	text-align: center;
	font-size: 0.916666rem;
	line-height: 1.5rem;
	color:#1A1A1A;
	
}
.app-list .app-item .icon-del,
.app-list .app-item .icon-add  {
	width:1.166666rem;
	height:1.166666rem;
	position: absolute;
	top:0.5rem;
	right:0.5rem;
	display: none;
}

.details-title {
	height:5.833333rem;
	margin: 1rem;
	border-bottom: 1px solid #D8DBE5;
	position: relative;
}
.details-title h1 {
	font-size: 1.333333rem;
	font-weight: normal;
}
.details-title p {
	width:100%;
	font-size: 0.916666rem;
	position: absolute;
	bottom: 0;
	line-height: 2rem;
}
.details-title p .post-time {
	float: left;
}
.details-title p span {
	display: inline-block;
}
.details-title  img {
	width:0.75rem;
	height:0.75rem;
	vertical-align: middle;
	margin-left: 1rem;
}
.details-content {
	font-size: 1.25rem;
	line-height: 2rem;
}
.footer-page {
	border-top:1px solid #D8DBE5;
	font-size: 1.083333rem;
	margin: 1rem;
	padding-top:.5rem;
}
.footer-page p {
	line-height: 2rem;
}
.footer-page a {
	text-decoration: underline;
	
}

/*党员消息 dangyuannotice.html*/
.notice-item .post-time{
	text-align: center;
	font-size: 1rem;
	color: #999;
	line-height: 2rem;
	margin: 30px auto;
}
.notice-item-wrap {
	background: #fff;
	padding: 1rem;
	border-radius: 0.166666rem;
}
.notice-item-wrap h2 {
	font-size: 1.25rem;
	line-height: 2rem;
}
.notice-item-wrap p {
	font-size: 0.833333rem;
	color:#999;
	line-height: 2rem;
}
.notice-xinyuan,
.notice-content {
	font-size: 1.083333rem;
	line-height: 2rem;
	color:#666;
}
.notice-xinyuan span {
	display: inline-block;
	margin-right: 2rem;
	
}

/*党费*/
.dangfei-list {
	width:100%;
}
.dangfei-list-item {
	height:4.833333rem;
	padding: .5rem 1rem;
	background: #fff;
	position: relative;
	border:1px solid transparent;
	border-bottom: 1px solid #D8DBE5;
}
.dangfei-list-item p {
	clear: both;
	width:90%;
	display: block;
	line-height: 2rem;
}
.dangfei-list-item p span{
	display: inline-block;
}
.dangfei-list-item p:first-child {
	position: absolute;
	top:0;
}
.dangfei-list-item p:last-child {
	position: absolute;
	bottom:0;
}

.dangfei-list-item.active{
	border:1px solid #F35B68;
	position:relative;
}
.dangfei-list-item.active::after {
	content: '';
	display: block;
	width:1.583333rem;
	height:1.583333rem;
	position: absolute;
	right:0;
	bottom:0;
	z-index: 999;
	background:#ccc url(../images/icon/icon_select.png) no-repeat;
}
.dangfei-footer {
	height:4.166666rem;
	background: #fff;
}
