/*通用样式*/

* { -webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0; vertical-align: baseline; }
img { border: 0 none; vertical-align: top; }
i, em { font-style: normal; }
ol, ul,li { list-style: none; }
input, select, button, h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; color: #666; }
body { margin: 0 auto;/* min-width: 320px; max-width: 640px;*/ height: 100%; font-size: 1rem; font-family: PingFang-SC-Regular, -apple-system,Helvetica,sans-serif; line-height: 1.5; color: #666; -webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important; }
input[type="text"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.container {
	padding: 1rem;
	margin: 0 auto;
}

.content {
	font-size: 1.25rem;
	line-height: 1.5rem;
	color:#000;
}
.content-wrap {
	margin: 1rem auto;
}

.fl {
	float:left;
}
.fr {
	float:right;
}
.clearfix:after {
   content:""; 
   display: block; 
   clear:both; 
}
.bg-edf {
	background: #EDF1FC;
}
.bg-red {
	background: #FB3648;
	color:#fff;
}
img {
	width:100%;
	height:100%;
}
.footer-btn {
	position: fixed;
	bottom: 0;
	width: 100%;
	height:4.166666rem;
}
.footer-btn .dangzhibu a:first-child {
	height:4.125rem;
	border-top: 1px solid #D8DBE5;
}

.footer-btn .dangzhibu a {
	display: block;
	width:50%;
	float: left;
	font-size: 1.083333rem;
	line-height: 4.166666rem;
	text-align: center;
	position: relative;
}
.footer-btn .dangzhibu a img {
	width:1.75rem;
	height:1.666666rem;
	position: absolute;
	top:1.25rem;
	left:4.583333rem;
}
.footer-btn .dangzhibu a span {
	margin-left: 2rem;
}
.footer-btn .huibao-btn {
	display: block;
	font-size: 1.166666rem;
	line-height: 4.166666rem;
	color:#fff;
	text-align: center;
}
/*通知公告列表*/
.news-list {
	margin-left: 1rem;
}
.news-list-item {
	height:5rem;
	padding: 1rem 0;
	border-bottom:1px solid #D8DBE6;
}
.news-list-item .news-img {
	width:6.666666rem;
	height:5rem;
}
.list-item-titlea,
.list-item-titleb {
	height:5rem;
	position: relative;
}

.list-item-titlea {
	width:18rem;
	margin-left: 1rem;
}
.list-item-titleb {
	width:26rem;
}
.list-item-titlea h3,
.list-item-titleb h3{
	font-size: 1.166666rem;
	color:#333;
	line-height: 1.5rem;
}
.list-item-titlea p,
.list-item-titleb p{
	position: absolute;
	bottom: 0;
}
.readed {
	width:2.083333rem;
	text-align: center;
	font-size: 0.916666rem;
	color:#FF0017;
	margin-right: 1rem;
}


/*-----------
 * 首页index.html
 * */
.index-slider {
	width:100%;
	height:15.416666rem;
	background: red;	
}
.index-home-icon {
	height: 10.416666rem;
}
.index-notice {
	height:3.333333rem;
}
.index-news-list {
	
}




/*-----------
 * 个人中心 personal.html
 * */
.top-bg {
	width:100%;
	height:12.5rem;
}
.personal-info {
	width:28.75rem;
	height:10.833333rem;
	border-radius: 0.75rem;
	background: #fff;
	box-shadow:0px 0px 10px rgba(0,0,0,0.1);
	position: absolute;
	top:6.333333rem;
	left:1.25rem
}
.personal-info .avatar {
	width:5.833333rem;
	height:5.833333rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top:-1.708333rem;
	left:1.708333rem;
}
.personal-msg {
	width: 12.5rem;
	padding-top: 0.5rem;
	position: absolute;
	left:10rem;
}
.personal-msg .name {
	font-size: 1.333333rem;
	line-height: 2rem;
}
.personal-msg .join-time {
	color:#EC202A;
	font-size: 1.083333rem;
	line-height: 2rem;
}
.personal-record {
	width:100%;
	height:4.666666rem;
	position: absolute;
	bottom: 0;
}
.personal-record .record-list {
	width:33.3%;
	float: left;
}
.personal-record .record-list span {
	display: block;
	text-align: center;
	font-size: 1.083333rem;
	line-height: 1.5rem;
}
.personal-record .record-list span:last-child {
	font-size: 1.166666rem;
}
/*入党申请详情页 dangdetails*/
.top-dangimg {
	width:100%;
	height:5rem;
}
.top-dangimg img {
	width:100%;
	height:100%;
}


/*
 * 思想汇报 sixianghuibao.html sixianghuibaolist.html
 * */
.sixiang-topbar {
	width:100%;
	height: 3.333333rem;
	border-bottom: 1px solid #D8DBE6;
	background: #fff;
}
.tabbar-box {
	display: none;
}
.sixiang-topbar a {
	display: inline-block;	
	text-align: center;
	width:50%;
	float:left;
	line-height: 3.333333rem;
	font-size: 1.25rem;
	
}
.sixiang-topbar a.active {
	color:#FF0017;
	position: relative;
}
.sixiang-topbar a.active:after {
	content: '';
	width:1.166666rem;
	height:0.25rem;
	border-radius: 0.125rem;
	background: #FF0017;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -0.583333rem;
	
}
.sixiang-huibao {
	padding-left: 1rem;
	font-size:1.166666rem;
	background: #fff;
}
.sixiang-huibao em {
	display: inline-block;
	color:#FF0017;
	height:5rem;
	line-height: 5rem;
}
.huibao-title {
	height:5rem;
	line-height: 5rem;
	border-bottom: 1px solid #D8DBE6;
}
.huibao-title input {
	width:21rem;
	height:3rem;
	padding: 1rem;
	border:none;
	text-align: right;
}
.huibao-content {
	
}
.huibao-content textarea{
	width:27rem;
	min-height:20rem;
	padding: 1rem;
	line-height: 1.5rem;
	border: 1px solid #D8DBE6;
}



.submit-btn {
	width: 100%;
	height:3.75rem;
	
}
.submit-btn a{
	display: block;
	width: 17.5rem;
	height:3.75rem;
	margin: 3.166666rem auto;
	border-radius: 1.875rem;
	font-size: 1.25rem;
	line-height: 3.75rem;
	text-align: center;
}


.sixiang-list {
	margin-left: 1rem;
}
.sixiang-list li a{
	display: block;
	width:100%;
	height:5.5rem;
	padding: 0.75rem 0;
	border-bottom: 1px solid #D8DBE6;
}
.sixiang-list li .avatar {
	width:5.5rem;
	height:5.5rem;
	border-radius: 50%;
	margin-right: 1.5rem;
}
.sixiang-list li .avatar img {
	width:5.5rem;
	height:5.5rem;
	border-radius: 50%;
}

.sixiang-list li .list-info {
	height:5.5rem;
	position: relative;
}
.sixiang-list li .list-info h3 {
	font-size: 1.166666rem;
	color:#333;
	
}
.sixiang-list li .list-info h4 {
	font-size: 1.083333rem;
	color:#333;
}
.sixiang-list li .list-info p {
	position: absolute;
	bottom: 0;
	font-size: 0.916666rem;
	color:#999;
}


/*
 * 全部应用 appall.html
 * */
.app-page {
	/*width:100%;
	height:100%;*/
	background: #EDF1FC;
}
.app-container {
	padding: 0.416666rem;
	margin: 0 auto;
	background: #fff;
	margin-bottom: 0.666666rem;
}
.app-title {
	height:4.166666rem;
	line-height: 4.166666rem;
}
.app-title h3 {
	display: inline-block;
	font-size: 1.25rem;
	line-height: 4.166666rem;
	float: left;
}
.app-title a {
	color: #108EE9;
	font-size: 1.083333rem;
	line-height: 4.166666rem;
	float:right;
}
.app-list {
	width:100%;
	
}
.app-list .app-item {
	width:6rem;
	height:3.316666rem;
	padding: .8rem .5rem;
	background: #EDF1FC;
	position: relative;
	float:left;
	text-align: center;
	margin-right: 0.791666rem;
	margin-bottom: 0.833333rem;
}
.app-list .app-item a {
	display: block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.app-list .app-item:nth-child(4n){
	margin-right: 0;
}
.app-list .app-item .icon-img {
	width:2.833333rem;
	height:2.166666rem;
	margin: 0 auto;
}
.app-list .app-item .icon {
	width:2.833333rem;
	height:2.166666rem;
}
.app-list .app-item p {
	text-align: center;
	font-size: 0.916666rem;
	line-height: 1.5rem;
	color:#1A1A1A;
	
}
.app-list .app-item .icon-del,
.app-list .app-item .icon-add  {
	width:1.166666rem;
	height:1.166666rem;
	position: absolute;
	top:0.5rem;
	right:0.5rem;
	display: none;
}
